* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('https://images.unsplash.com/photo-1606813909027-dc3fdc02b23d');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero p {
    margin: 15px 0;
}

.hero-btns {
    margin-top: 20px;
}

.btn {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    margin: 10px;
    display: inline-block;
}

.primary {
    background: red;
    color: white;
}

.secondary {
    background: white;
    color: black;
}

/* MODELS */
.models {
    padding: 60px 20px;
    text-align: center;
    
}

.model-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-y: auto;
    margin-bottom: 30px;
    padding: 20px;
    
}


.card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    flex-shrink: 0;
    

}

.card h3 {
    margin-bottom: 10px;
}

.card span {
    display: block;
    margin: 10px 0;
    font-weight: 600;
}

.card button {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
}

/* WHY US */
.why-us {
    background: #111;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}

/* OFFERS */
.offers {
    background: red;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

/* TEST RIDE */
.test-ride {
    padding: 60px 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
}

form input, form select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

form button {
    width: 100%;
    padding: 12px;
    background: red;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }
}


